.projects-page-container{
    height: 100vh;
    background-color: #fff;
    display: grid;
    justify-items: center;
    background-image: url('../../images/background/ProjectPageImage.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto auto;
    align-items: center;
}

.projects-heading-container h1{
    font-size: 50px;
    font-family: 'Lobster', sans-serif;
    color: #A7A953;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

.cards-container{
    margin-bottom: 200px;
}


/* @media screen and (max-width: 1500px){
    .projects-page-container{
         background-size: auto auto;
    }
    
} */