
.landing-page-container{
    height: 100vh;
    background-color: #fff;
    background-image: url('../../images/background/HomePageImage.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto auto;
}

.introduction-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.introduction-container >div{
    z-index: 2;
}

.hi-container{
    position: relative;
    left: 600px; 
    top: 70px;
}

.hi{
    font-size: 150px;
    font-family: 'Lobster', sans-serif;
    color: #6C8C8A;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.4));
    z-index: 1;
}


.introduction-container p{
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    color: #1C2D2C;
    j-self: start;
}

.profile-picture-container{
}

.profile-picture{
    width: 350px;
    height: auto;
    border-radius: 70px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    z-index: 2;
    justify-self: end;
}

.introduction{
    /* width: 630px; */
}

.navigation-container{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
}


.nav-links{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
}

/* .nav-links > li:nth-child(odd){
    background-color: bisque;
} */

.nav-link{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

@media screen and (max-width: 1500px){

    .landing-page-container{
         background-size: auto auto;
    }
}
