
.landing-page-container{
    height: 100vh;
    background-color: #fff;
    background-image: url('../../images/background/HomePageImage.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex: 100%; */
}


.hi-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    margin-top: -350px;
}

.hi{
    font-size: 150px;
    font-family: 'Lobster', sans-serif;
    color: #6C8C8A;
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.4));
}


.profile-picture-container{
    z-index: 2;
}

.profile-picture{
    width: 350px;
    height: auto;
    border-radius: 70px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    
}

.introduction{
    /* display: flex;
    flex-wrap: wrap;
    flex: 100%; */
    width: 720px;
    background: rgba(244, 244, 244, 0.7);
    padding: 20px 20px 20px 35px;
    border-radius: 60px;
    margin-top: 100px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.introduction p {
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    color: #475B5A;
}

.large-text{
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    color: #E0822B;
}

.medium-text{
    font-family: 'Lobster', sans-serif;
    font-size: 35px;
    color: #E0822B;
}

.small-text{
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    color: #E0822B;
}

.navigation-container{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
}


.nav-links{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
}

/* .nav-links > li:nth-child(odd){
    background-color: bisque;
} */

.nav-link{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

@media only screen and (max-width: 1280px) {

    .landing-page-container {
        background-size: auto auto;
    }

    /* .introduction{
        flex: 50%;
    } */

}

@media only screen and (max-width: 950px){

    .landing-page-container{
         background-size: auto auto;
    }

    .introduction-container { 
        display: grid;
    }

    .hi-container {
        margin-top: -600px;
    }

    .hi {
        font-size: 100px;
        
    }

    .profile-picture {
        width: 300px;
        /* transition: 1000ms ease; */
    }

    .introduction {
        width: 720px;
    }

    .introduction p {
        font-size: 20px;
    }
    
    .large-text {
        font-size: 30px;
    }
    
    .medium-text {
        font-size: 25px;
    }
    
    .small-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {

    .landing-page-container {
        background-size: auto auto;
    }

    .introduction-container {
        display: grid;
    }

    .hi-container {
        margin-top: -600px;
    }

    .hi {
        font-size: 75px
    }

    .profile-picture {
        width: 275px;
        /* transition: 1000ms ease; */
    }

    .introduction {
        width: 695px;
    }

    .introduction p {
        font-size: 18px;
    }

    .large-text {
        font-size: 28px;
    }

    .medium-text {
        font-size: 23px;
    }

    .small-text {
        font-size: 18px;
    }
}
