.q-method-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.q-method-column-1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.q-method-column-2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.q-method-column-3{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}